<a href="https://docs.google.com/spreadsheets/d/1ZQcR90FsM85UlPPPDmR6ux60KuYqNrQ__8Jpg4x3ivs/edit?hl=pt-br&pli=1&gid=19865380#gid=19865380" target="_blank">Bauxita</a>
<a href="https://docs.google.com/spreadsheets/d/1ZQcR90FsM85UlPPPDmR6ux60KuYqNrQ__8Jpg4x3ivs/edit?hl=pt-br&pli=1&gid=921158267#gid=921158267" target="_blank">Lagoa</a>
<a href="https://docs.google.com/spreadsheets/d/1ZQcR90FsM85UlPPPDmR6ux60KuYqNrQ__8Jpg4x3ivs/edit?hl=pt-br&pli=1&gid=994318995#gid=994318995" target="_blank">Vila Aparecida</a>
<a href="https://docs.google.com/spreadsheets/d/1ZQcR90FsM85UlPPPDmR6ux60KuYqNrQ__8Jpg4x3ivs/edit?hl=pt-br&pli=1&gid=855062948#gid=855062948" target="_blank">Vila dos Engenheiros</a>
<a href="https://docs.google.com/spreadsheets/d/1ZQcR90FsM85UlPPPDmR6ux60KuYqNrQ__8Jpg4x3ivs/edit?hl=pt-br&pli=1&gid=264916198#gid=264916198" target="_blank">Vila Operária</a>
